{% extends 'base.html' %}

{% block head %}

<title>Home</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Predict Titanic Passenger's Survival</h1>

    <div class="form">
        <form action="javascript:void(0)" id="fdata" method="post">
            <input type="number" name="PassengerId" id="PassengerId" placeholder="Passenger ID">
            <label for="Pclass">Passenger class:
            <select name="Pclass" id="	Pclass">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select></label>
            <input type="text" name="Name" id="Name" placeholder="Name">
            <label for="Sex">Sex:
            <select name="Sex" id="Sex">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select></label>  
            <input type="number" name="Age" id="Age" placeholder="Age" step="any">
            <input type="number" name="SibSp" id="SibSp" placeholder="Siblings/Spouse">
            <input type="number" name="Parch" id="Parch" placeholder="Parents/Children">
            <input type="text" name="Ticket" id="Ticket" placeholder="Ticket">
            <input type="number" name="Fare" id="Fare" placeholder="Fare" step="any">
            <input type="text" name="Cabin" id="Cabin" placeholder="Cabin"><br>
            <label for="Embarked">Port of Embarktion:
            <select name="Embarked" id="Embarked">
                <option value="S">Southampton, U.K.</option>
                <option value="C">Cherbourg, France</option>
                <option value="Q">Queesntown, Ireland</option>
            </select></label>
            <div align="right">
				<input type="submit" value="Predict Survival" class="button" style="background-color: green;" onclick="requiredCheck()">
				<input type="submit" value="Clear" class="button" style="background-color: red;" onclick="clear()">
			</div>
        </form>
    </div>
</div>
<script src="{{ url_for('static', filename='js/titanic.js') }}"></script>
{% endblock %}
<!-- "javascript:void(0)" -->
<!-- onclick="requiredCheck()" -->